body{
    height: 100vh;
    width: 100%;
    background-color: #1b1b32;
    color: #f5f6f7;
    margin: 0;
    font-size: 16px;
    font-family: Tahoma;
}
h1, p{
    margin: 1em auto;
    text-align: center;
}
form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    border: 1px solid red;
    padding-bottom: 2em;
}
fieldset{
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}
fieldset:last-of-type{
    border-bottom: none;
}
label{
    display: block;
    margin: 0.5rem 0;
}
input, textarea, select{
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}
input, textarea{
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #f5f6f7;
    padding-left: 10em;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 60%;
    max-width: 300px;
    background-color: #3b3b4f;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }